.carousel-inner, .carousel {
    width: 100%;
    text-align:center;
}
.d-block{
    width:100%;
}
.nav-text {
    color: aliceblue;
}
.footer{
    margin-top:10px;

    bottom:0px;

    padding:10px;
    background-color:beige;
        width:100%;
}
.card{
    margin:30px;
    

}
.card:hover{
    border:1px solid black;
}
.card-bg{
    background-color:cornsilk;
}

.jumbotron{
    padding:20px;text-align:center;
    margin:0px;
}
.form-control{
    margin-bottom:10px;
}
.centered{
    text-align:center
}